<form id="sybil_user_picker" style="display:none;position:fixed;left:25%;top:0;width:50%;padding: 20px; background-color:rgba(0,0,0,.8); text-align:center;border-radius:5px;box-shadow: 0 0 5px 5px rgba(0,0,0,.5);z-index:999;" action="<%= sybil_path %>" method="post">
	<h1 style="color:white;border-bottom:solid white 1px;padding-bottom:5px;font-size:200%;">Sybil</h1>
	<br />
	<select name="id">
		<option value="logout" <%= "selected" unless @current_user %>>Guest</option>
	<% @users.each do |u| %>
		<option value="<%= u[:id] %>" <%= "selected" if @current_user and @current_user.id == u[:id] %>><%= u[:name] %></option>
	<% end %>
	</select>
	<input type="hidden" name="layout" value="<%= @layout %>">
	<input type="submit" value="Switch">
</form>
<script>
	// TODO: Thoroughly cross-browser test, because we're no longer using jQuery
	// TODO: Is this the proper way to load this after the DOM is loaded??
	var prevOnload = document.body.onload;
	document.body.onload = function(){
		if(prevOnload) prevOnload();
		var up = document.getElementById('sybil_user_picker');
		
		// If jQuery is present, set up a var and position userpicker, since it'll be animated
		if(window.jQuery){
			var $up = $(up);
			$up.css('top', -($up.height()+40));
		}
		
		// Hide UP, slide up if jQuery
		function hideSybilUserPicker(){
			if(window.jQuery)
				$up.animate({top: -($up.height()+40)}, 200, function(){$up.hide();});
			else
				up.style.display='none';
		}
		
		// Show UP, slide down if jQuery
		function showSybilUserPicker(){
			if(window.jQuery)
			{
				$up.show();
				$up.animate({top: '0'}, 200);
			}else{
				up.style.display='block';
			}
		}
		
		// Find submit button
		for(var i=0;i<up.children.length;i++)
		{
			if(up.children[i].type=='submit')
			{
				up.children[i].onclick = function(){
					// Create hidden redirect field, set value to current location, then hide the UP, and let the form submit
					var redirectField = document.createElement('input');
					redirectField.type="hidden";
					redirectField.name="redirect";
					redirectField.value=location.href;
					up.appendChild(redirectField);
					hideSybilUserPicker();
				}
			}
		}
		
		// Add key listener
		document.addEventListener('keyup', function(e){
			if(<%= Rails.configuration.sybil.toggle_user_picker %>){
				if(up.style.display == 'none')
				{
					showSybilUserPicker();
				}else{
					hideSybilUserPicker();
				}
			}
				
			if(<%= Rails.configuration.sybil.close_user_picker %>) hideSybilUserPicker();
		});
		
		// Add click listener to body, hide UP if click is anywhere but on the UP itself
		document.body.addEventListener('click', function(e){
			var childOfUserPicker = false;
			var curNode = e.target;
			// Iterate over parents of target (only check 3 nodes deep, that's as deep as the UP gets)
			// If parent is UP, set boolean, if parent is body, break
			for(var i=0;i<2;i++)
			{
				if(childOfUserPicker = (curNode === up)) break;
				curNode = curNode.parentNode;
				if(curNode == document.body) break;
			}
			
			// Hide the UP if target isn't a child of the UP or the UP itself
			if(!childOfUserPicker)
				hideSybilUserPicker();
		});
	};
</script>